<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.placememo_project">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".activity.EditNomalMemoActivity"
            android:theme="@style/Theme.MyDialog"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.IntroActivity"
            android:label="여기 메모!"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/kakaolink_host"
                    android:scheme="@string/kakao_scheme" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".wiget.WidgetLocationtActivity"
            android:screenOrientation="portrait"
            android:excludeFromRecents="true"
            android:taskAffinity="com.example.placememo_project.A"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".wiget.WidgetNomalMemoActivity"
            android:screenOrientation="portrait"
            android:excludeFromRecents="true"
            android:taskAffinity="com.example.placememo_project.B"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".activity.BaseActivity" />
        <activity
            android:name=".activity.FullAlamActivity"
            android:screenOrientation="portrait"
            android:excludeFromRecents="true"
            android:showOnLockScreen="true" />
        <activity
            android:screenOrientation="portrait"
            android:name=".activity.TitleAddItemActivity"
            android:theme="@style/Theme.MyDialog" />
        <activity
            android:name=".activity.NomalMemoInsetActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyDialog" />
        <activity android:name=".activity.MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.EditLocationMemoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyDialog" />
        <activity
            android:name=".activity.LocationMemoInsertActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyDialog" />
        <activity android:name=".activity.GoogleMapActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.IconInsertActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyDialog" />
        <activity android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"/>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAeyokLLIn5BwKqqVRm0weMIU9GOBmfJUc" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider" />
        </provider>
        <receiver
            android:name=".receiver_service.LocationReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="AlarmService" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.example.placememo_project.wiget.WigetProvider"
            android:label="PM">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider" />
        </receiver>
        <service android:name=".receiver_service.ForegroundService"
            android:enabled="true"
            android:exported="true"/>

        <service android:name=".receiver_service.BackgroundService"
            android:enabled="true"
            android:exported="true"/>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

</manifest>